.navbar {
    background-color: transparent !important;
    color: aliceblue;
}

.nav-link {
    font-weight: 500;
    margin-left: 1rem;
}

.nav-link:hover {
    color: #fcc185;
}

.nav-brand {
    text-decoration: none;
    font-size: 1.6rem;
}